.nav-pills>li.active>a {
  background-color: #000;
  color: yellow;
}

a {
  background-color: #967d14;
  color: yellow;
}

.jumbotron h1 {
  color: yellow;
}

p {
  color: yellow;
}

.jumbotron {
      padding-bottom: 250px;
      background-image: url("http://vignette2.wikia.nocookie.net/battlefront/images/e/ec/Star_Wars_Battlefront_wallpaper.jpg/revision/latest?cb=20070714214451#");
      background-repeat: no-repeat;
      background-size: 100%;


}


.btn-default {
  background-color: #000;
  color: yellow;
}
